.Frame-1 {
    width: 1920px;
    height: 1080px;
    flex-grow: 0;
    padding: 17px 0 49px 107px;
    background-color: #fff;
  }

  .Rectangle-7 {
    width: 192px;
    height: 35px;
    flex-grow: 0;
    margin: 14px 41px 126px 73px;
    padding: 7px 75px 6px;
    border-radius: 31px;
    background-color: #ff9567;
  }
  .Shop {
    width: 42px;
    height: 22px;
    flex-grow: 0;
    font-family: ProductSans;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }
  .Rectangle-7 {
    width: 192px;
    height: 35px;
    flex-grow: 0;
    margin: 14px 79px 126px;
    padding: 7px 54px 6px;
    border-radius: 31px;
    background-color: #ff9567;
  }
  .Rectangle-7 {
    width: 192px;
    height: 35px;
    flex-grow: 0;
    margin: 14px 79px 126px;
    padding: 7px 54px 6px;
    border-radius: 31px;
    background-color: #ff9567;
  }
  .Rectangle-7 {
    width: 192px;
    height: 35px;
    flex-grow: 0;
    margin: 14px 514px 126px 29px;
    padding: 7px 53px 6px 52px;
    border-radius: 31px;
    background-color: #ff9567;
  }
  .Rectangle-7 {
    width: 192px;
    height: 35px;
    flex-grow: 0;
    margin: 14px 514px 126px 29px;
    padding: 7px 53px 6px 52px;
    border-radius: 31px;
    background-color: #ff9567;
  }
  .Rectangle-4 {
    width: 657px;
    height: 68px;
    flex-grow: 0;
    margin: 112px 29px 75px 0;
    padding: 0 0 0 45px;
    border-radius: 25px;
    background-color: rgba(255, 149, 103, 0.57);
  }
  .Zoek {
    width: 52px;
    height: 29px;
    flex-grow: 0;
    margin: 19px 492px 20px 0;
    font-family: ProductSans;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ff9567;
  }
  .Rectangle-5 {
    width: 68px;
    height: 68px;
    flex-grow: 0;
    margin: 0 0 0 492px;
    padding: 19px 18.5px 18.3px 18px;
    border-radius: 24px;
    background-color: #ff9567;
  }
  .Rectangle-6 {
    width: 13.3px;
    height: 13.3px;
    flex-grow: 0;
    margin: 17.5px 0 0 18.2px;
    transform: rotate(-45deg);
    background-color: #fff;
  }
  .Ellipse-1 {
    width: 24.3px;
    height: 24.3px;
    flex-grow: 0;
    margin: 0 7.2px 6.5px 0;
    border: solid 5px #fff;
  }
  .Rectangle-1 {
    width: 239px;
    height: 309px;
    flex-grow: 0;
    margin: 75px 138px 59px 0;
    padding: 229px 118px 44px 22px;
    border-radius: 41px;
  }
  .Japans {
    width: 99px;
    height: 36px;
    flex-grow: 0;
    font-family: ProductSans;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }
  .Rectangle-1 {
    width: 239px;
    height: 309px;
    flex-grow: 0;
    margin: 75px 70px 59px 41px;
    padding: 229px 104px 44px 22px;
    border-radius: 41px;
  }
  .Chinees {
    width: 113px;
    height: 36px;
    flex-grow: 0;
    font-family: ProductSans;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }
  .Rectangle-1 {
    width: 239px;
    height: 309px;
    flex-grow: 0;
    margin: 75px 399px 59px 97px;
    padding: 229px 53px 44px 22px;
    border-radius: 41px;
  }
  .Vietnamees {
    width: 164px;
    height: 36px;
    flex-grow: 0;
    font-family: ProductSans;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }
  .Populair {
    width: 239px;
    height: 78px;
    margin: 59px 138px 36px 0;
    font-family: ProductSans;
    font-size: 64px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ff9567;
  }
  .Rectangle-2 {
    width: 593px;
    height: 214px;
    flex-grow: 0;
    margin: 36px 93px 0 0;
    padding: 25px 178px 25px 20px;
    border-radius: 24px;
    background-color: #ff9567;
  }
  .Rectangle-3 {
    width: 164px;
    height: 164px;
    flex-grow: 0;
    margin: 0 16px 0 0;
    border-radius: 18px;
  }
  .Product {
    width: 132px;
    height: 44px;
    flex-grow: 0;
    margin: 0 83px 15px 16px;
    font-family: ProductSans;
    font-size: 36px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }
  .product-beschrijving {
    width: 215px;
    height: 29px;
    flex-grow: 0;
    margin: 15px 0 76px 16px;
    font-family: ProductSans;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }
  .Rectangle-2 {
    width: 593px;
    height: 214px;
    flex-grow: 0;
    margin: 36px 103px 0 39px;
    padding: 25px 178px 25px 20px;
    border-radius: 24px;
    background-color: #ff9567;
  }
  .Rectangle-3 {
    width: 164px;
    height: 164px;
    flex-grow: 0;
    margin: 0 16px 0 0;
    border-radius: 18px;
  }
  .Product {
    width: 132px;
    height: 44px;
    flex-grow: 0;
    margin: 0 83px 15px 16px;
    font-family: ProductSans;
    font-size: 36px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }
  .product-beschrijving {
    width: 215px;
    height: 29px;
    flex-grow: 0;
    margin: 15px 0 76px 16px;
    font-family: ProductSans;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }
  